* {
    margin: 0;
    padding: 0;
} 

a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}


.menu {
    background-color: tan;
    position: fixed;
    width: 100%;
    padding: 2%;
    padding-left: 0%;
}

.menu > ul > li {
    padding-left: 4%;
    display: inline;
}

.menu > ul > li > a{
    font-size: 2.1vw;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: bold;
}


.sanford {
    width: 100%;
    max-height: 1000px;
    height: auto;
}

.front-text {
    text-align: center;
    /*font-size: 20pt;*/
    font-size: 3vw;
    font-family: Lato;
    font-weight: 300;
}

.front-text > .name {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif
}


.bio {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-family: "Trirong", sans-serif;
    text-align: center;
    font-size: 18pt;
    font-size: 2vw;
    display: flex;
}

.bio > .info {
    display: inline-block;
    font-size: 40pt;
    font-size: 2.2vw;
    background-color: rgb(230, 236, 239);
    padding: 15px; 
    margin: 50px;
    margin-left: 7.5vw;
    width: 50%;
}

.bio .headshot {
    height: 35%;
    width: 35%;
    display: inline-block;
    margin: 10px;
}

.center {
    text-align: center;
}

.info {
    width: 50%;
    font-family: "Trirong", sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 40pt;
    font-size: 2.2vw;
    margin: 40pt;
    background-color: rgb(230, 236, 239);
    
}

.experience {
    display: flex;
}

.experience > img {
    width: 35%;
    height: auto;
    display: inline-block;
    margin: 50px;
}


.projects {
    display: flex;
}

.projects > img {
    width: 35%;
    height: auto;
    margin: 50px;
}



.skills {
    display: flex;
}

.skills > .image {
    width: 35%;
    height: auto;
    display: inline-block;
    margin: 50px;
}

.read-more {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 1.5vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
}

.contact {
    font-family: "Sofia", serif;
    text-align: center;
    font-size: 15px;
}

hr {
    border-style: inset;
    border-width: 2px;
}

img {
    border-radius: 10px;
}

.languageImage {
    float: left;
}

.languageText {
    float: right;
}

.leadership {

}

a:hover {
    color: green;
}

.columnImage {
    float: center;
    width: 50%;
    padding: 2px;
}

.columnText {
    float: center;
    width: 50%;
    padding: 2px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.columnImage {
    width: 50%;
    float: left;
}

.column {
    float:left;
    width: 10%;
}

.footer {
    background-color: gray;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer p {
    color: rgb(230, 228, 228);
    font-size: 15pt;
}

.footer p a {
    color: white;
    font-size: 18pt;
}

/* This ensures the website looks correct on phone screens */
@media (max-width: 600px) {
/*
    .info {
        width: 50%;
        display: inline-block;
        font-size: 7pt;
        margin: 30pt;
        background-color: rgb(230, 236, 239);
    }

    .bio > .info {
        width: 50%;
        display: inline-block;
        font-size: 7pt;
        margin: 30pt;
        background-color: rgb(230, 236, 239);
    }

    .read-more {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
    }
    */
    
  }
